{% extends "base.html" %}
{% load static %}
{% block content %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Bienvenue, {{ user.username }}</h1>
            <p class="lead text-center">Espace enseignant - Gestion des
                Stages/Apprentissages</p>
        </div>
    </div>

    <div class="row mt-4 pb-3">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Candidater au soutenances</h5>
                    <p class="card-text">Candidater au soutenances de stage ou d'apprentissage.</p>
                    <a href="{% url 'lesApprentiStage:liste_recherche' %}"
                        class="btn btn-primary">Voir les soutenances</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Calendrier des Soutenances</h5>
                    <p class="card-text">Consulter le calendrier des soutenances
                        programmées.</p>
                    <a href="{% url 'lesApprentiStage:calendar_ens' %}"
                        class="btn btn-success">Calendrier</a>
                </div>
            </div>
        </div>
        {% if is_responsible %}
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Suivi des Étudiants</h5>
                    <p class="card-text">Accéder au suivi de stages/alternances
                        des étudiants.</p>
                        <a href="{% url 'lesApprentiStage:suivi_etudiants' %}"
                        class="btn btn-info">Suivi Étudiants</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-12 p-3 card">
        <div id='calendar' style="max-height: 500px; overflow-y: auto;"></div>
    </div>
    
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/locales/fr.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'fr',  // Définir la locale sur français
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'timeGridWeek,timeGridDay'
      },
      initialView: 'timeGridWeek',
      events: '/api/calendar_events/',
      buttonText: {
        today: 'Aujourd\'hui',
      },
      views: {
        timeGridWeek: {
          buttonText: 'Semaine'
        },
        timeGridDay: {
          buttonText: 'Jour'
        }
      },
      customButtons: {
        prevButton: {
          text: '',
          click: function() {
            calendar.prev();
          },
          icon: 'bi bi-caret-left-fill'
        },
        nextButton: {
          text: '', 
          click: function() {
            calendar.next();
          },
          icon: 'bi bi-caret-right-fill'
        }
      },
    });
    

    calendar.render();
  });
</script>



{% endblock %}