{% extends "base.html" %}

{% block content %}
<div id="notification" class="alert custom-notification" role="alert" style="display: none;"></div>
<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-12">
      {% if offre_list %}
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="display-5">Offres de stage</h2>
        <div class="custom-control custom-switch " >
          <input  type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Cacher</label>
        </div> 
      </div>
      {% else %}
        <h2 class="display-5">Aucune offre</h2>
      {% endif %}
        <!-- Offres de stage dynamiques ici -->
          {% for offre in offre_list %}
            {% if not offre.estPublie %}
              <div class="mb-3 row" id="{{ offre.pk }}">
            {% else %}
              <div class="mb-3 row valider" id="{{ offre.pk }}">
            {% endif %}
            <a href="{% url 'lesApprentiStage:offre_detail' offre.id %}"
              class="list-group-item list-group-item-action flex-column align-items-start col-11">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ offre.titre }}</h5>
                <small>{{ offre.datePublication|date:"d F Y" }}</small>
              </div>
              <p class="mb-1">{{ offre.description }}</p>
              <small>{{ offre.entreprise }}</small>
            </a>
            <div class="col-1 d-flex align-items-center">
              {% if not offre.estPublie %}
                <button pk="{{ offre.pk }}" url="{% url 'lesApprentiStage:valid_offre' offre.pk %}" class="valid-button btn btn-success text-white"><i class="bi bi-check"></i></button>
                <button pk="{{ offre.pk }}" url="{% url 'lesApprentiStage:delete_offre' offre.pk %}"  class="delete-button btn btn-danger"><i class="bi bi-trash-fill"></i></button>
              {% else %}
                <button pk="{{ offre.pk }}"  url="{% url 'lesApprentiStage:delete_offre' offre.pk %}" class="delete-button btn btn-danger"><i class="bi bi-trash-fill"></i></button>
              {% endif %}
            </div> 
          </div>
          {% endfor %}
    </div>
  </div>
</div>
<style>
  .custom-notification {
    position: fixed;
    top: 5%; 
    left: 50%; 
    z-index: 9999;
  }
</style>
<script>
$(".delete-button").on('click', function(){
  $.ajax({
      url: $(this).attr('url'),
      success: function(response) {
          afficherNotification("Suppresion réussie !", false);
      },
      error: function(xhr, status, error) {
          afficherNotification("Erreur", false);
      }
  });
  $("#"+$(this).attr('pk')).hide("slow");
});

$(".valid-button").on('click', function(){
  $.ajax({
      url: $(this).attr('url'), 
      success: function(response) {
          afficherNotification("Offre validée !", true);
      },
      error: function(xhr, status, error) {
          afficherNotification("Erreur", false);
      }
  });
  $(this).hide();
});


function afficherNotification(message, estSucces) {
  var notification = $("#notification");
  notification.text(message);
  notification.removeClass("alert-success alert-danger");
  if (estSucces) {
    notification.addClass("alert-success");
  } else {
    notification.addClass("alert-danger");
  }
  notification.show();

  setTimeout(function() {
    notification.hide();
  }, 4500);
};

$("#customSwitch1").on('click', function(){
  $(".valider").toggle("slow");
});

</script>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
