@media (max-width: 1200px) {
.accueil {
    margin-right: 8%!important;
    margin-left: 8%!important;
}

h1 {
    font-size: 2.5rem!important;
}

p {
    font-size: 1.5rem!important;
}

a {
    font-size: 1.3rem!important;
}
}

@media (min-width: 1200px) {
.accueil {
    margin-right: 8%!important;
    margin-left: 8%!important;
}
}

