{% extends "base.html" %}
{% block content %}
<div class="row m-3">
  <div class="col-md-auto d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 360px;">
    <div class="card p-2 mb-3 col-sm-auto">
      <h3>Détails de l'étudiant <button class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></h3>
      <div class="m-2">
        <strong>Nom :</strong> {{ etudiant.nomEtu }}<br>
        <strong>Prénom :</strong> {{ etudiant.prenomEtu }}<br>
        <strong>Numéro étudiant :</strong> {{ etudiant.numEtu }}
      </div>
      <!-- Ajoutez d'autres détails de l'étudiant ici si nécessaire -->
    </div>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Contrat(s) de stage
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                {% if contrats_stage %}
                    <ul>
                        {% for contrat in contrats_stage %}
                          <div class="affichageContrat" num="{{ contrat.id }}">
                            <li>
                                {{ contrat.entreprise }}<br>
                                Du {{ contrat.dateDeb|date:"d/m/Y" }} au {{ contrat.dateFin|date:"d/m/Y" }}<br>
                                <!-- Affichez d'autres détails du contrat ici si nécessaire -->
                            </li>
                            <hr>
                          </div>
                        {% endfor %}
                    </ul>
                {% else %}
                    Aucun contrat de stage trouvé pour cet étudiant.
                {% endif %}
            </div>
        </div>
    </div>
        

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Contrat(s) d'apprentissage
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            {% if contrats_apprentissage %}
                    <ul>
                        {% for contrat in contrats_apprentissage %}
                          <div class="affichageContrat" num="{{ contrat.id }}">
                            <li>
                                {{ contrat.entreprise }}<br>
                                Du {{ contrat.dateDeb|date:"d/m/Y" }} au {{ contrat.dateFin|date:"d/m/Y" }}<br>
                                <!-- Affichez d'autres détails du contrat ici si nécessaire -->
                            </li>
                            <hr>
                          </div>
                        {% endfor %}
                    </ul>
                {% else %}
                    Aucun contrat de stage trouvé pour cet étudiant.
                {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col p-3" id='contrat'>
  </div>

</div>

<script>
  $('.affichageContrat').on('click', function() {
    numcontrat = $(this).attr('num');

    $.ajax({
        url: '/affichage_contrat/' + numcontrat + '/',  // L'URL vers la vue qui gère l'affichage du contrat
        type: 'GET',
        dataType: 'html',
        success: function(data) {
            $('#contrat').html(data);
        },
        error: function() {
            alert('Une erreur s\'est produite lors du chargement du contrat.');
        }
    });
  });

</script>

{% endblock %}
