{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-auto d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Recherches</span>
    </a>
    <form action="/search/" method="get">
      <ul class="p-3 nav nav-pills flex-column mb-auto">
        <hr>
        <li class="nav-item mb-3">
          <label>Texte à rechercher</label>
          <input type="text" class="form-control" placeholder="recherche" name="query">
        </li>
        <li class="nav-item">
          <label>Rechercher dans</label>
          <select class="selectpicker" name="type">
            <option value="ETUDIANT">Etudiant / Diplômé</option>
            <option value="ENTREPRISE">Structure</option>
            <option value="CONTRAT">Stage / Apprentissage</option>
          </select>
        </li>
        <li>
          <input type="submit" class="btn btn-primary mt-3" value="Recherche">
        </li>
        <hr>
      </ul>
    </form>
  </div>
  <div class="col p-3">
    {% for result in results %}
      <div class="result-item">
          {{ result }}
      </div>
    {% endfor %}

    {% if not results %}
      <div class="no-results">
          Aucun résultat trouvé.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
