{% extends "base.html" %}
{% block content %}
<h1>Bienvenue dans les Soutenances</h1>
<!-- Button trigger modal -->
{% for soutenance in listSoutenance %}
<p>{{soutenance.estDistanciel}}</p>
{% endfor %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Ajouter
  </button>
  
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"s>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une Soutenance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  method="POST" action="{% url 'lesApprentiStage:soutenance' %}">
            <div class="modal-body">
                    {% csrf_token %} 
                    {{ form }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="ajouter">Ajouter</button>
            </div>
        </form>
      </div>
    </div>
  </div>

 
{% endblock %}
