{% extends "base.html" %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
    <div class="row">
      <div id="notification"  class="alert alert-danger custom-notification container mt-1 col-md-auto" >{{ message }}</div>
    </div>
    {% endfor %}
  {% endif %}
  <div class='card container mt-3 p-4' style="width: 30rem;">
    <h4>Connexion</h4>
    <form method="post">
      {% csrf_token %}
      <div class="row p-2">
        <label class="col" for="{{ form.username.id_for_label }}">Nom d'utilisateur :</label>
        <input class="col form-control" id="{{ form.username.id_for_label }}" type="text" name="{{ form.username.name }}" required>
      </div>
      <div class="row p-2">
        <label class="col" for="{{ form.password.id_for_label }}">Mot de passe :</label>
        <input class="col form-control" id="{{ form.password.id_for_label }}" type="password" name="{{ form.password.name }}" required>
      </div>
      <div class="row p-2">
        <button class="col btn btn-primary" id="submit" >Connexion</button>
      </div>
    </form>
  </div>


  <script>
    $(document).ready(function () {
      setTimeout(function () {
        $('#notification').fadeOut('fast');
      }, 3000);

      checkNotification();
    });

    function checkNotification() {
      if ($('#notification').length) {
        $('.form-control').addClass('is-invalid');
      }
    }

    $('.form-control').on('input', function () {
      $('.form-control').removeClass('is-invalid');
    });
  </script>


{% endblock %}
