{% extends "base.html" %}

{% block content %}
<div class='card container mt-5 p-3' style="width: 30rem;">
  <div class="row p-3">
    <h4>Inscription</h4>
  </div>
  <form method="POST" action="{% url 'lesApprentiStage:signup' %}">
    {% csrf_token %}

    <div class="row p-2">
      <label class="col" for="{{ user_form.username.id_for_label }}">Nom d'utilisateur
        :</label>
      <input class="col form-control" id="{{ user_form.username.id_for_label }}"
        type="text" name="{{ user_form.username.name }}" required>
    </div>

    <div class="row p-2">
      <label class="col" for="{{ user_form.password.id_for_label }}">Mot de
        passe :</label>
      <input class="col form-control" id="{{ user_form.password.id_for_label }}"
        type="password" name="{{ user_form.password.name }}" required>
    </div>

    <div class="row p-2">
      <label class="col" for="{{ user_form.type_utilisateur.id_for_label }}">Type
        d'utilisateur :</label>
      <select class="col form-control"
        id="{{ user_form.type_utilisateur.id_for_label }}"
        name="{{ user_form.type_utilisateur.name }}" required>
        {% for choice in user_form.type_utilisateur.field.choices %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <hr>

    <div id="etudiant_fields" style="display:none;">
      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.nomEtu.id_for_label }}">Nom :</label>
        <input class="col form-control"
          id="{{ etudiant_form.nomEtu.id_for_label }}" type="text"
          name="{{ etudiant_form.nomEtu.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.prenomEtu.id_for_label }}">Prénom
          :</label>
        <input class="col form-control"
          id="{{ etudiant_form.prenomEtu.id_for_label }}" type="text"
          name="{{ etudiant_form.prenomEtu.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.numEtu.id_for_label }}">Numéro
          étudiant :</label>
        <input class="col form-control"
          id="{{ etudiant_form.numEtu.id_for_label }}" type="text"
          name="{{ etudiant_form.numEtu.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.civiliteEtu.id_for_label }}">Civilité
          étudiant :</label>
        <select class="col form-control"
          id="{{ etudiant_form.civiliteEtu.id_for_label }}"
          name="{{ etudiant_form.civiliteEtu.name }}" required>
          <option value="M.">M.</option>
          <option value="Mme.">Mme.</option>
        </select>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.adresseEtu.id_for_label }}">Adresse
          étudiant :</label>
        <input class="col form-control"
          id="{{ etudiant_form.adresseEtu.id_for_label }}" type="text"
          name="{{ etudiant_form.adresseEtu.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.cpEtu.id_for_label }}">Code
          Postal :</label>
        <input class="col form-control"
          id="{{ etudiant_form.cpEtu.id_for_label }}"
          type="text" name="{{ etudiant_form.cpEtu.name }}"
          pattern="[0-9]{5}" title="Le code postal doit comporter 5 chiffres"
          required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.villeEtu.id_for_label }}">Ville
          :</label>
        <input class="col form-control"
          id="{{ etudiant_form.villeEtu.id_for_label }}" type="text"
          name="{{ etudiant_form.villeEtu.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.telEtu.id_for_label }}">Numéro
          de téléphone :</label>
        <input class="col form-control"
          id="{{ etudiant_form.telEtu.id_for_label }}"
          type="text" name="{{ etudiant_form.telEtu.name }}"
          pattern="^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$"
          title="Le numéro de téléphone doit être au format français"
          required>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.promo.id_for_label }}">Promo :</label>
        <select class="col form-control"
          id="{{ etudiant_form.promo.id_for_label }}"
          name="{{ etudiant_form.promo.name }}" required>
          {% for promo in etudiant_form.promo.field.queryset %}
          <option value="{{ promo.pk }}">{{ promo.nomPromo }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="row p-2">
        <label class="col" for="{{ etudiant_form.idDepartement.id_for_label }}">Département
          :</label>
        <select class="col form-control"
          id="{{ etudiant_form.idDepartement.id_for_label }}"
          name="{{ etudiant_form.idDepartement.name }}" required>
          {% for departement in etudiant_form.idDepartement.field.queryset %}
          <option value="{{ departement.pk }}">{{ departement.nomDep }}</option>
          {% endfor %}
        </select>
      </div>

    </div>

    <div id="enseignant_fields" style="display:none;">

      <div class="row p-2">
        <label class="col" for="{{ enseignant_form.numHarpege.id_for_label }}">Numéro
          Harpège :</label>
        <input class="col form-control"
          id="{{ enseignant_form.numHarpege.id_for_label }}" type="text"
          name="{{ enseignant_form.numHarpege.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col"
          for="{{ enseignant_form.nomEnseignant.id_for_label }}">Nom :</label>
        <input class="col form-control"
          id="{{ enseignant_form.nomEnseignant.id_for_label }}" type="text"
          name="{{ enseignant_form.nomEnseignant.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col"
          for="{{ enseignant_form.prenomEnseignant.id_for_label }}">Prénom :</label>
        <input class="col form-control"
          id="{{ enseignant_form.prenomEnseignant.id_for_label }}" type="text"
          name="{{ enseignant_form.prenomEnseignant.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col"
          for="{{ enseignant_form.mailEnseignant.id_for_label }}">Email de l'enseignant
          :</label>
        <input class="col form-control"
          id="{{ enseignant_form.mailEnseignant.id_for_label }}" type="text"
          name="{{ enseignant_form.mailEnseignant.name }}" required>
      </div>

      <div class="row p-2">
        <label class="col"
          for="{{ enseignant_form.roleEnseignant.id_for_label }}">Rôle :</label>
        <select class="col form-control"
          id="{{ enseignant_form.roleEnseignant.id_for_label }}"
          name="{{ enseignant_form.roleEnseignant.name }}" required>
          {% for role in enseignant_form.roleEnseignant.field.choices %}
          <option value="{{ role.0 }}">{{ role.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="row p-2" id="enseignant_promo_select" style="display:none;">
        <label class="col col-form-label"
          for="{{ enseignant_form.promos.id_for_label }}">Promos :</label>
        <div class="col">
          {{ enseignant_form.promos }}
        </div>
      </div>

      <div class="row p-2" id="enseignant_departement_select" style="display:none;">
        <label class="col col-form-label" for="{{ enseignant_form.departements.id_for_label }}">{{ enseignant_form.departements.label }}</label>
        <div class="col">
            {{ enseignant_form.departements }}
        </div>
    </div>

    </div>

    <div id="secretaire_fields" style="display:none;">
      <div class="row p-2">
        <label class="col" for="{{ secretaire_form.numSec.id_for_label }}">Numéro
          Secrétaire :</label>
        <input class="col form-control"
          id="{{ secretaire_form.numSec.id_for_label }}" type="text"
          name="{{ secretaire_form.numSec.name }}" required>
      </div>
    </div>

    <div class="row p-2">
      <button class="col btn btn-primary" type="submit">Inscrire</button>
    </div>
  </form>
</div>

<div class='card container mt-5 p-3' style="width: 30rem;">
  <div class="row">
    <h4>Upload CSV des étudiants</h4>
  </div>
  <form method="POST" action="{% url 'lesApprentiStage:upload_csv' %}"
    enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row p-2">
      <label class="col" for="csv_file">Fichier CSV :</label>
      <input class="col form-control" id="csv_file" type="file" name="file"
        accept=".csv" required>
    </div>

    <div class="row p-2">
      <button class="col btn btn-primary" type="submit">Uploader</button>
    </div>
  </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userTypeSelect = document.getElementById('id_type_utilisateur');
        const etudiantFields = document.getElementById('etudiant_fields');
        const enseignantFields = document.getElementById('enseignant_fields');
        const secretaireFields = document.getElementById('secretaire_fields');

        function toggleFields() {
          const userType = userTypeSelect.value;
          
          if(userType === 'etudiant') {
              $('#etudiant_fields').show("slow");
              [...etudiantFields.querySelectorAll('input, select')].forEach(input => input.disabled = false);
      
              $('#enseignant_fields').hide("slow");
              [...enseignantFields.querySelectorAll('input, select')].forEach(input => input.disabled = true);
      
              $('#secretaire_fields').hide("slow");
              [...secretaireFields.querySelectorAll('input, select')].forEach(input => input.disabled = true);
          } 
          else if(userType === 'enseignant') {
              $('#enseignant_fields').show("slow");
              [...enseignantFields.querySelectorAll('input, select')].forEach(input => input.disabled = false);
      
              $('#etudiant_fields').hide("slow");
              [...etudiantFields.querySelectorAll('input, select')].forEach(input => input.disabled = true);
      
              $('#secretaire_fields').hide("slow");
              [...secretaireFields.querySelectorAll('input, select')].forEach(input => input.disabled = true);
          } 
          else if(userType === 'secretaire') {
              $('#secretaire_fields').show("slow");
              [...secretaireFields.querySelectorAll('input, select')].forEach(input => input.disabled = false);
      
              $('#etudiant_fields').hide("slow");
              [...etudiantFields.querySelectorAll('input, select')].forEach(input => input.disabled = true);
      
              $('#enseignant_fields').hide("slow");
              [...enseignantFields.querySelectorAll('input, select')].forEach(input => input.disabled = true);
          }
        }
      
        // Afficher/masquer les champs lorsque la sélection change
        userTypeSelect.addEventListener('change', toggleFields);
        const roleEnseignantSelect = document.getElementById('id_roleEnseignant'); // Assurez-vous que l'ID est correct
        const promoSelect = document.getElementById('enseignant_promo_select');

        function togglePromoSelect() {
          const selectedRole = roleEnseignantSelect.value;
          if(selectedRole=="enseignant_promo"){
            $('#enseignant_promo_select').show("slow")
          }
          else{
            $('#enseignant_promo_select').hide("slow")
          }

      }

    roleEnseignantSelect.addEventListener('change', togglePromoSelect);
    togglePromoSelect();
    function toggleDepartementSelect() {
      const selectedRole = roleEnseignantSelect.value;
      if (selectedRole === 'chef_departement') {
          $('#enseignant_departement_select').show("slow");
      } else {
          $('#enseignant_departement_select').hide("slow");
      }
  }
  
  roleEnseignantSelect.addEventListener('change', toggleDepartementSelect);
  toggleDepartementSelect();
      
        // Afficher/masquer les champs au chargement de la page
        toggleFields();
      });
      
      $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
          
</script>
{% endblock %}